.navbar-container {
  width: 100%;
  background-color: var(--color-primary);
}
.navbar {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 0 auto;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #242424;
  text-decoration: none;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks li {
  margin: 0 20px;
  list-style: none;
}

.navLinks li:last-child {
  margin-right: 0;
}

.link {
  text-decoration: none;
  color: #242424;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 4px;
  background-color: #fff;
  position: relative;
}

.search-input {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 1.1rem;
  color: #242424;
}

.search-input::placeholder {
  color: #ccc;
}

.search-button {
}

.search-button:hover {
}

.search-history {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  z-index: 1;
}

.history-item {
  margin: 0;
  padding: 10px;
}

.history-item:first-child {
  margin-top: 5px;
}

.history-item:hover {
  background-color: #f9f9f9;
}

.btn-cart-cirle {
  border-radius: 50%;
  border: none;
  padding: 8px;
  background-color: var(--color-primary);
}

.btn-cart-cirle:hover {
  background-color: var(--color-primary-dark);
  opacity: 0.8;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
  left: 50%; /* Center the dropdown */
  transform: translateX(-50%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  top: 100%; /* Position below the button */
  margin-top: 10px; /* Add some space below the button */
  padding: 10px;
  border: 1px solid #ccc;
}

.dropdown-content::before {
  content: "";
  position: absolute;
  top: -10px; /* Adjust to place the triangle just above the dropdown */
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 10px 10px 10px; /* Adjust the size of the triangle */
  border-style: solid;
  border-color: transparent transparent #ffffff transparent; /* Triangle color matching the dropdown */
}

.cart-item-container {
  max-height: 260px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.cart-items-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.cart-title {
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  justify-content: flex-start;
}

.cart-item:last-child {
  margin-bottom: 0; /* Remove margin from last item */
  border-bottom: none; /* Remove border from last item */
}

.cart-item-img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 60px;
}

.cart-item-label {
  font-size: 0.8rem;
  display: inline-block;
  color: var(--color-secondary);
}

.cart-item-name {
  display: block;
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 4px;
}

.cart-item-price {
  color: #e91e63;
  font-weight: bold;
}

.view-cart-button {
  display: block;
  text-align: center;
  background-color: var(--color-tertiary);
  color: white;
  padding: 10px 0;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.dropdown-profile {
  min-width: 150px;
  padding: 0;
}

.dropdown-profile a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-profile a:hover {
  background-color: #f9f9f9;
  border-radius: 8px;
}
